name: Compiling

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  # Compile on all supported OSes
  compile:
    strategy:
      matrix:
        go-version:
          - 1.14.x
          - 1.15.x
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Compile
        run: make compile-only
